.restoreContainer {
    height: 75vh;
}

.cardProperties {
    color: rgb(255, 253, 239);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 6px 10px rgba(3, 43, 44, 0.7),
        0 0 6px rgb(40, 141, 224);

}