.pages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.pages li{
    cursor: pointer;
    padding: 5px;
}


.pages li:hover{
    background-color: rgb(148, 148, 148);
}

.actual{
    background-color: black;
    color: white;
}
.non{
    background-color: aliceblue;
}