.flex{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.labelError {
    margin-left: 6%;
    font-size: 0.8rem;
    color: #ff0606;
    text-align: right;
    font-family: Georgia;
    font-weight: bold;
  }

.name{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    size: 20%;
}