.infocontainer {
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(68, 100, 109);
    min-height: 80vh;
    width: 80%;
}

.options{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}