h6 {
    color: #000000;
    text-decoration: none;

    text-shadow: 0px 4px 10px rgba(9, 4, 59, 0.39);
    -webkit-text-stroke: 0.002px rgb(165, 165, 165);
}

.card {
    background-color: #3D4249;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    border: none;
    height: 100%;
    margin-left: 35px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.card-title {
    font-size: 0.85vw;
}

.image img{
    max-width: '30rem';
     max-height: '10rem'; 
    height: 8rem;
    width: 20rem;
    object-fit: cover;
  }