.mainFooter {
    margin-left: 6rem;
    margin-top:2rem ;
    background-color: #212529;
    width: 92%;
    align-items: center;
    text-align: center;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
  /*   width: 110rem; */
    justify-content: center
}

.tech {
    background-color: #212529;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    width: 100rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imge {
    margin-right: 10rem;
    box-shadow: inherit;
}

.profilePic {
    border-radius: 13em;
    width: 13rem;
    margin-right: 2.1rem;
 }

 
 .cards {
     margin-top: 1rem;
     margin-left: 1rem;
     background-color: #050C18;
    }
    
    .icons {
      
    }

 .icons:hover {
    transform: scale(1.1)
 }


@media screen and (max-width: 631px) {
    .footerText {
        display: none;

    }

    .footerBlocks {
        margin: 2rem;

        /* gap: 8rem; */
        /* background-color: yellow; */
    }


 

}