.allCardsConteiner {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    /* justify-content: left; */
    width: 100%;
    margin-left: 63px;
   
}   