.allCardsConteiner {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: left; */
    /* width: 30%; */
    margin-left: 3rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width:375px) {

    .cardsAndFilter {
        display: flex;
        flex-direction: column;

    }

    .allCardsConteiner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

} */

.chatbot{
    position: fixed;
    right: 1rem;
    top: 17rem;
}

.bannerhome{
    padding-top: 4.1rem;
    padding-left: 2rem;
}