.allCardsConteiner {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: left; */
    /* width: 30%; */
    margin-left: 10rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width:375px) {

    .cardsAndFilter {
        display: flex;
        flex-direction: column;

    }

    .allCardsConteiner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

} */