.link {
    text-decoration: none;
}

.link img {
    text-decoration: none;
    width: 2vw;
    height: auto;
    margin-right: 0.8rem;
}

.span {
    text-decoration: none;

}

ul li small img {

    list-style-type: none;
    text-decoration: none;

}