.link {
    text-decoration: none;
}

.link img {
    text-decoration: none;
    width: 2vw;
    height: auto;
    margin-right: 0.8rem;
}

.span {
    text-decoration: none;
}

ul li small img {

    list-style-type: none;
    text-decoration: none;


}

.btn {
    border-color: rgb(0, 0, 0);
}

.btn:hover {
    border-color: rgb(25, 190, 255);
    box-shadow: 1px 1px 10px rgb(23, 218, 159);
    background-color: rgb(11, 177, 199)
}

.logo {
    width: 2rem;
    margin-bottom: 8px;
    padding: 0px;
    transform: scale(1.4);
    border-radius: 50px;
    
}

.title {
    /* font-size: 0.9vw; */
    font-size: 1rem;
    /* border-bottom-color: #05ffb0; */

    /* active-style: {
        color: rgb(23, 218, 159);
    } */
}

.title:hover {
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgb(10, 10, 9);
    color: rgb(3, 3, 3);
    padding-left: 1rem;
}

.titleLogo {
    /* font-size: 0.9vw; */
    font-size: 1.3rem;
    padding-right: 1rem;
    color: rgb(255, 187, 0);
    text-shadow: 1px 1px 5px rgb(208, 255, 0);
    -webkit-text-stroke: 0.002px rgb(0, 0, 0);



}





.username {
    list-style-type: none;
    text-decoration: none;
}

.letraE {

    font-size: 1.4rem;
    color: rgb(3, 120, 136);
    transform: rotate(360deg);
    text-shadow: 1px 1px 2px rgb(59, 148, 189);
}

.letraE:hover {

    text-shadow: 1px 1px 2px rgb(36, 240, 46);
    /* font-size: 1.4rem; */
    color: rgb(3, 120, 136);
    /* transform: rotate(360deg); */
    transform: rotate(180deg);
    -webkit-text-stroke: 0.002px rgb(11, 171, 235);

}