.link {
    text-decoration: none;
}

.link img {
    text-decoration: none;
    width: 2vw;
    height: auto;
    margin-right: 0.8rem;
}

.span {
    text-decoration: none;

}

ul li small img {

    list-style-type: none;
    text-decoration: none;


}

.btn {
    border-color: rgb(30, 134, 231);
}

.logo {
    margin-bottom: 8px;
    padding: 0px;
}

.title {
    font-size: 0.9vw;
}