.dropdown {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(320px, 70px);
}

.sidebar-wrapper {
    height: 100%;
}

.texto {
    font-size: small;
    background-color: #3fa3b9d0;
    /* border: none; */
    box-shadow: 1px 1px 10px rgb(2, 63, 45);
    padding: 5px;
}


.btp {
    width: 8rem;
    justify-content: start;
    color: #00233a;
    border-radius: 4px;
    border: 1px rgb(18, 49, 58) solid;

}

.sideBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1032px) {
    .sideBarContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: around;
        /* background-color: yellow; */
        gap: 2rem;
    }

}

@media screen and (max-width: 600px) {
    .sideBarContainer {
        /* display: flex;
        flex-direction: column; */
        /* flex-wrap: wrap; */
        /* justify-content: around;
        background-color: rgb(30, 255, 0);
        gap: 2rem; */
    }

}