
.dropdown{
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(320px, 70px);
}

.sidebar-wrapper{
    height: 100%;
}

.texto {
    font-size: small;
    background-color: #69717A;
    border: none;
    /* color:white; */
    padding: 5px;
}


.btp {
    width: 158px;
    justify-content: start;
    color: black;
}