.btnLogo img {
    text-decoration: none;
    width: 4rem;
    height: auto;
    /* margin-right: 0.8rem; */
}

.linkA {
    text-decoration: none;
    color: cadetblue
}

.loginContainer {
    height: 100%;
    color: rgb(255, 253, 239);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 6px 10px rgba(3, 43, 44, 0.7),
        0 0 6px rgb(40, 141, 224);
}