.bigContainer {
    background-color: rgb(238, 245, 246);
    max-width: 1500px;
    height: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 20px;
}

.goBack {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.goBack:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(184, 191, 195, 255);
    outline: 0;
}


.reviewsContainer{
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    overflow-y: scroll;
    height: 560px;
    max-width: 1200px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}

.review {
    border-radius:0px;
}
.description{
    cursor: pointer;
    margin-left: 10px;
    text-align: left;
    max-width: 850px;
    padding-top: 6px;
    padding-left: 5px;
}

.remove{
    margin-top: auto;
    margin-left:auto;
    margin-right:40px;
    cursor: pointer;
    width: 40px;
    font-size: 15px;
}

.isDisabled {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.enabled{
    margin-right: 10px;
  }