.App {
  text-align: center;
  background: #141E30;
  background-color: #00acfc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #416997, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('../src/images/textures/grungeblue.jpg');
  background-size: 100% 100%;
  /* background-image: linear-gradient(
  0deg,
  hsl(227deg 28% 51%) 0%,
  hsl(214deg 38% 51%) 19%,
  hsl(205deg 45% 50%) 32%,
  hsl(198deg 51% 49%) 43%,
  hsl(193deg 52% 49%) 54%,
  hsl(188deg 49% 51%) 63%,
  hsl(182deg 44% 54%) 72%,
  hsl(174deg 43% 59%) 81%,
  hsl(162deg 44% 65%) 90%,
  hsl(147deg 43% 72%) 100%
); */
  min-height: 100vh;
  margin: 0;
  position: relative;
  border-radius: 0;

  /* font-family: 'Flamenco', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  color: azure;
}

.App::after {
  content: '';
  display: block;
  height: 163px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 163px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #bfb8b8a0;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(13, 131, 147, 0.548);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}