* {
  border-radius: 4px;
  ;
}

/* .bigContainer {
    width: 70%;
    border: solid 1px black;
}

.box {
    border: solid 1px black;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
}

.container {
    display: flex;
    width: 600px;
}

.ForSale {
    display: flex;
    flex-wrap: wrap;
    width: 1000px
} */

.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

.box h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner2{
  height: auto;
  width: 20rem;
}

.btnDown {
  position: fixed;
  flex-direction: end;
  
}